# System specific
.DS_Store
Thumbs.db

# Obsidian cache and system files
.obsidian/
.trash/

smart-chats/
templates/

# Temporary files
*.lock
*.log
*.cache
*.tmp
*.swp
favicon-32x32.png
publish.js
publish.css




# Ignore Smart Connections folder
.smart-connections